* {
  font-family: "Coolvetica-Regular";
  color: white;
  /*height: 68px;*/
}

body {
  background-color: rgba(34, 34, 34, 100);
  overflow-x: h;
}

#app {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 80vw;

  margin: auto;
}
