* {
  font-family: "Coolvetica-Regular";
  color: white;
  /*height: 68px;*/
}

body {
  background-color: rgba(34, 34, 34, 100);
  overflow-x: h;
}

#app {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 80vw;

  margin: auto;
}

/* === KEYFRAMES === */

@keyframes in-enter {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes invisible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* === PAGE STYLES === */

/* NAV-BAR */

header {
  display: flex;
  flex-direction: column;

  background-color: #e6e6e6;
  border-radius: 15px;

  width: 100%;
  height: 68px;
  position: absolute;
}

header > nav > .bruno > h1 {
  font-family: "Gotham";
  color: black;
  font-size: 20px;
}

.bruno {
  display: flex;

  width: 190px;
  height: 40px;

  background-color: #d9d9d9;

  align-items: center;
  justify-content: center;

  border-radius: 16px;

  margin-top: 15px;
  margin-left: 22px;

  animation: in-enter 1s cubic-bezier(0, 0.76, 0.43, 1.01) alternate;
}

header > nav > .portfolio > h1 {
  font-family: "Gotham";
  color: black;
  font-size: 20px;
}

.portfolio {
  animation: invisible 7s ease-in alternate;
  animation: in-enter 5s cubic-bezier(0, 0.76, 0.43, 1.01) alternate;
  animation-delay: 3s;
  display: flex;

  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */

  width: 190px;
  height: 40px;

  background-color: #d9d9d9;

  border-radius: 16px;

  margin-top: -40px;
  margin-left: 220px;
}

/* ASTRO SVG */

.astro-svg > span {
  display: flex;
  flex-shrink: 0;
  background: url("../assets/vector-astro.svg") no-repeat;

  width: 451px;
  height: 495px;
}

/* BEM-VINDO */

.astro-svg {
  display: inline-flex;
  /* background-color: red; */

  justify-content: center;
  align-items: center;

  gap: 175px;

  margin-top: 191px;

  /* background: url('../assets/frames-jogado.svg') center left; */
}

.astro-svg > .texts > h1 {
  color: #f9f9f9;
  font-family: "Gotham";
  font-size: 96px;
  font-style: normal;
  font-weight: bolder;
  line-height: normal;
  letter-spacing: 6.39px;
}

.astro-svg > .texts > h3 {
  font-family: "Coolvetica-Regular";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 2.88px;

  display: inline-flex;

  border-bottom: 2px solid;

  margin-top: 10px;
}

/* SHAPES END SECTION */

.shapes > span {
  background: url("../assets/shapes.svg");
  width: 454.497px;
  height: 49.497px;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;

  margin-top: 180px;
}

/* === PROJECTS SECTION === */

.projects {
  display: flex;

  justify-content: flex-start;
  align-items: flex-start;

  margin-top: 108px;

  /* border: 2px solid red; */
  gap: 289px;

  flex-shrink: 0;
}

.projects > .texts {
  flex-direction: column;
}

.projects > .texts > h1 {
  font-family: "Moonhouse-Regular";
  text-transform: uppercase;

  width: 500px;
  height: 101px;

  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
}

.projects > .texts > p {
  width: 454px;
  font-family: "Gotham";
  font-size: 16px;

  line-height: 25.5px;
  letter-spacing: 1.44px;

  margin-top: 50px;
}

.projects > .image-rectangle {
  width: 484px;
  height: 484px;

  background-color: #d9d9d9;
  border-radius: 35px;
}

/* === EDIÇÃO DE VÍDEOS === */

.videos {
  display: flex;

  align-items: flex-start;
  justify-content: flex-end;

  margin-top: 152px;
  gap: 210px;
}

.videos > .texts {
  margin-top: 25px;
  text-align: right;
}

.videos > .texts > h1 {
  font-family: "Moonhouse-Regular";
  text-transform: uppercase;

  width: 437px;
  height: 101px;

  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
}

.videos > .texts > p {
  width: 454px;
  font-family: "Gotham";
  font-size: 16px;

  line-height: 25.5px;
  letter-spacing: 1.44px;

  margin-top: 50px;
}

/* TEXT IMAGES */

.videos > .images {
  display: flex;
  flex-direction: column;

  gap: 28px;
}

.videos > .images > .videos-images {
  width: 562px;
  height: 208px;

  border-radius: 35px;

  background-color: #d9d9d9;
}

.videos > .texts > h1 > img {
  margin-right: 10px;
}

.projects > .texts > h1 > img {
  margin-right: -18px;
}

.projects > .texts > h1 > .flattern {
  margin-left: -15px;
}

.projects > .texts > h1 > .pattern {
  margin-left: -20px;
}
