* {
  font-family: "Coolvetica-Regular";
  color: white;
  /*height: 68px;*/
}

body {
  background-color: rgba(34, 34, 34, 100);
  overflow-x: hidden;
}

#app {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 80vw;

  margin: auto;
}

.eye {
  width: 30px;
  height: 30px;
  position: relative;
  display: inline-block;
}

.hide {
  display: none;
}

#portfolio {
  justify-content: center;

  width: 90vw;

  margin: auto;
  display: none;
}

#portfolio > .designs {
  margin-top: 150px;
}
